.nav-p{
  font-family: 'Poppins Regular';
  font-weight: bold;
  color: white;
  font-size:14px;
  display: inline-block;
  margin-right: 440px;
}

ul {
  position:absolute;
  top: 25px;
  left: 135px;
  list-style-type:none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
}

li a{
  font-family: 'Poppins Medium';
  font-size: 12px;
  display:block;
  color:white;
  text-decoration: none;
  margin-left: 45px;
}
.mid-text{
  position: absolute;
  top: 210px;
  left: 135px;
  font-family: 'Poppins Extrabold';
  font-size: 62px;
  color: white;
}

.mid-text:last-child{
  top:290px;
}
.sticky-parent{
  position: absolute;
  top: 570px;
  left: 135px;
  height: 100%;
}
.sticky {
  position: sticky;
  top: 0px;
  left: 125px;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.sticky-text{
  position: sticky;
  top: 0px;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: black;
}
.divborder1{
  position: absolute;
  top: 535px;
  left: 1125px;
  width: 51px;
  height: 51px;
  background-color: white;
  cursor: pointer;
}

.divborder1:hover{
  background-color:cyan;
  transition: 0.6s;
}
.arrow1 {
  position: relative;
  top: 18px;
  left: 18px;
}

.divborder1:last-child{
  background-color:#5863F8;
  margin-left: 51px;
  transform: rotate(180deg);
}


.page2nd{
  margin-top: 70px;
  margin-left: 125px;
}
.txt{
  display: inline-block;
}
.txt1{
  font-family: 'Poppins Extrabold';
  font-size: 42px;
}

.paragraph{
  width:444px;
  font-family: 'Poppins Medium';
  font-size: 16px;
  margin-top: 25px;
}

.p2 {
  margin-top:25px ;
  font-family: 'Poppins Regular';
}

.btn-1{
  margin-top: 35px;
  margin-left: 10px;
  background-color: #5863F8;
  width: 184px;
  height: 50px;
  color: white;
  font-family: 'Poppins Regular';
  font-size: 14px;
  border: none;


}

.btn-1:hover{
  background-color:#070A34;
}
.arrow3{
  position: relative;
  top: 3px;
  left: 10px;
}

.images{
  position: absolute;
  display:inline-block;
  left: 690px;
}

footer{
  background-color:#121212;
  margin-top: 135px;
}

.txt4{
  padding-top:50px;
  color: white;
  font-family: 'Poppins Extrabold';
  font-size: 24px;
  padding-left:135px;
}

.txt5 {
  padding-left: 135px;
  color: white;
  font-family: 'Poppins Medium';
  font-size: 14px;
  margin-top: 25px;
  width: 828px;
}

.icons {
  margin-left: 135px;
  margin-top: 60px;
}

.fb, .twt{
 padding-right: 20px;
}

.txt6{
  margin-left:135px;
  margin-top:10px;
  color: #B1B1B1;
  font-family: 'Poppins Medium';
  font-size: 14px;
}

.bluetext{
  color: #5863F8;
}